<!doctype html>
<html lang="en">
	<body>
		<main>
			<h1>Fuck you Eric.</h1>
			<p>Yes, Jazmin seriously associates with this guy. Do you know why?</p>
			<h1>Because I'm Cool.</h1>
			<p>You might be asking yourself, why am I cool? Here's a few reasons. -> </p>
			<ol>
				<li>Because I bought this domain before you.</li>
				<li>Because I follow the work of Sun Tzu</li>
				<li>and because I'm better at making websites.</li>
			</ol>
			<p>Thank you for coming to my Ted Talk.</p>
		</main>
	</body>
</html>
